extends conteiner
block content
    div
        |Вітаємо!
        hr
        div
            |#{userName} #{userSurname} хоче зустрітись #{meetingMessage} для обговорення деталей замовлення!
            br
            | Телефон для контакту #{userPhone}
            br
            | Email для контакту #{userEmail}
            br
        hr
        | Вдалого дня та гарного настрою
        | Команда Soft.Life.Lviv
